<body>
    <h1>
    <div>
        <!-- Back Button -->
        <button onclick="window.history.back()" class="back-button focusable">Back</button>
    </div>    
    </h1>

    <div class="detail-container">
        <img src="https://image.tmdb.org/t/p/w500/<%= item.poster_path %>" alt="<%= item.title || item.name %>" class="focusable">
        <div class="detail-info">
            <h1><%= item.title || item.name %> (<%= (item.release_date || item.first_air_date || '').substring(0, 4) %>)</h1>
            <% if (item.runtime) { %><p class="duration"><%= item.runtime %> min</p><% } %>
            <% if (item.vote_average) { %><p class="rating">IMDb <span class="fa fa-star checked"></span> <%= item.vote_average %></p><% } %>
            <% if (item.genres) { %>
                <p class="genres">Genres: <% item.genres.forEach((genre, index) => { %>
                    <%= genre.name %><% if (index < item.genres.length - 1) { %>, <% } %>
                <% }); %></p>
            <% } %>
            <p class="overview"><%= item.overview %></p>

            <% if (item.credits && item.credits.crew) { %>
                <div class="crew-info">
                    <% const directors = item.credits.crew.filter(person => person.job === 'Director'); %>
                    <% if (directors.length > 0) { %>
                        <p class="directors">Director(s): <% directors.forEach((director, index) => { %>
                            <%= director.name %><% if (index < directors.length - 1) { %>, <% } %>
                        <% }); %></p>
                    <% } %>
                </div>
            <% } %>
            <% if (item.credits && item.credits.cast) { %>
                <div class="cast-info">
                    <p class="cast">Cast: <% item.credits.cast.slice(0, 10).forEach((actor, index) => { %>
                        <%= actor.name %><% if (index < 9 && index < item.credits.cast.length -1) { %>, <% } %>
                    <% }); %></p>
                </div>
            <% } %>
            
            <!-- Trailer Button -->
            <button id="trailer-button" class="trailer-button focusable">Watch Trailer</button>
            <!-- Play Button -->
            <button id="play-button" class="play-button focusable">Play</button>
        </div>
    </div>